
@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/IRANYekanX/ttf/IRANYekanX-Bold.ttf") format('truetype');
    src:url("/assets/fonts/IRANYekanX/Webfonts/woff/IRANYekanX-Bold.woff") format('woff')
}
@font-face {
    font-family:IRANYekanX;
    font-style:normal ;
    font-weight: 100 ;
    src: url("/assets/fonts/IRANYekanX/ttf/IRANYekanX-Thin.ttf") format('truetype');;
    src:url("/assets/fonts/IRANYekanX/Webfonts/woff/IRANYekanX-Thin.woff") format('woff')
}
@font-face {
    font-family:IRANYekanX;
    font-style:normal ;
    font-weight: 300 ;
    src: url("/assets/fonts/IRANYekanX/ttf/IRANYekanX-Light.ttf") format('truetype');
    src:url("/assets/fonts/IRANYekanX/Webfonts/woff/IRANYekanX-Heavy.woff") format('woff')
}
@font-face {
    font-family:IRANYekanX;
    font-style:normal ;
    font-weight: normal ;
    src: url("/assets/fonts/IRANYekanX/ttf/IRANYekanX-Light.ttf") format('truetype');
    src:url("/assets/fonts/IRANYekanX/Webfonts/woff/IRANYekanX-Regular.woff") format('woff')
}